<div class="mat-h2">Cross-control validation</div>

<p>Cross control validators can be injected via a service or imported from a .ts file. Use form group (upon which cross-control validation is 
    implemented) as argument. In the example below, if first name is 'Claire', last name has to be 'Wang' or the form is invalid.</p>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput placeholder="First name" formControlName="firstName">
    </mat-form-field>&nbsp; &nbsp;

    <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput placeholder="Last name" formControlName="lastName">
    </mat-form-field> &nbsp;

    <button mat-raised-button color="accent" type="submit" [disabled]="myForm.invalid"><mat-icon>save</mat-icon></button>

</form>