<mat-toolbar color="primary">
  <div>
    <mat-icon [matMenuTriggerFor]="mainMenu">menu</mat-icon>&nbsp;
    <mat-icon [routerLink]="['/']">home</mat-icon>&nbsp;
  </div>

  <div>{{ title }}</div>

  <div>
    <mat-icon [routerLink]="['/help']">help</mat-icon>
  </div>

</mat-toolbar>

<mat-menu #mainMenu="matMenu">
  <button mat-menu-item [routerLink]="['/']"><mat-icon>home</mat-icon></button>
  <button mat-menu-item [routerLink]="['/star-rating']">star rating</button>
  <button mat-menu-item [routerLink]="['/shared-form']">shared form</button>
  <button mat-menu-item [routerLink]="['/cross-control-validation']">cross-control validation</button>
  <button mat-menu-item [routerLink]="['/control-value-accessor']">control value accessor</button>
  <button mat-menu-item [routerLink]="['/help']"><mat-icon>help</mat-icon></button>
</mat-menu>
