<mat-toolbar color="primary">
  <mat-icon [matMenuTriggerFor]="mainMenu">menu</mat-icon>
  <div>{{ title }}</div>
  <div>
    <mat-icon [routerLink]="['/']">home</mat-icon>&nbsp;
    <mat-icon [routerLink]="['/help']">help</mat-icon>
  </div>

</mat-toolbar>

<mat-menu #mainMenu="matMenu">
  <button mat-menu-item [routerLink]="['/']"><mat-icon>home</mat-icon></button>
  <button mat-menu-item
  *ngFor="let x of menu1"
  [routerLink]="['/', x.path]"
  >{{x.name}}</button>
  <button mat-menu-item [routerLink]="['/help']"><mat-icon>help</mat-icon></button>
</mat-menu>
